.container{	background-image: url(../images/rana.png);	background-repeat: no-repeat;	background-size: 100%;	width: 912px;	height: 1366px;	position: relative;}.form{	width: 444px;	height: 584px;	border: aqua solid 3px;	border-radius: 3px;	position: absolute;}