* {
    margin: 0;
    padding: 0;
    font-family: ﻿AdobeInvisFont, ﻿Roboto-Black, ﻿Courier, sans-serif;
}

body {
    width: 1280px;
    margin: 0 auto;
    box-sizing: content-box;
}

header {
    height: 81px;
}

nav {
    height: 100%;
    text-align: center;
    vertical-align: center;
    font-weight: 600;
}

a {
    font-size: 18px;
    line-height: 81px;
    color: rgb(40, 162, 137);
    text-align: left;
    text-transform: uppercase;
    margin: 0 35px;
    text-decoration: none;
}

img {
    width: 100%;
}

div {
    text-align: center;
    height: 650px;
    background-color: #f5f6f7;
    padding: 40px 100px 0;
}

p {
    font-size: 16px;
    font-weight: 600;
    color: #363636;
    line-height: 28px;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    margin-bottom: 36px;

}

h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #373737;

}

button {
    width: 192px;
    height: 51px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #16a085;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    height: 108px;
    text-align: right;
    padding-right: 105px;
    padding-top: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #363636;
    letter-spacing: 1.5px;

}